### Reshaping Methods
- We have 2 important methods to reshape our data

In [34]:
# 1. Melt (wide to long format) - used to convert a DataFrame from wide format to long format.
# Each variable column becomes a row, making it easier for plotting or analysis.

import pandas as pd
df = pd.DataFrame({
    "country":["USA","USA","India","India"],
    "year": [2020, 2021, 2020, 2021],  
    "sales": [100, 120, 90, 110],  
    "profit": [20, 25, 18, 22] 
})
print(df)
df_long = df.melt(
    id_vars=["country","year"], # columns to keep
    value_vars=["sales","profit"], # Specify which columns you want to ‘melt’ into a single column, so that each original column becomes a value in the new column.
    var_name="metric", #  once columns are used as values under new column what name you want to assign to that new column
    value_name="value" # new column name for value (default is value)
)
df_long

  country  year  sales  profit
0     USA  2020    100      20
1     USA  2021    120      25
2   India  2020     90      18
3   India  2021    110      22

  country  year  metric  value
0     USA  2020   sales    100
1     USA  2021   sales    120
2   India  2020   sales     90
3   India  2021   sales    110
4     USA  2020  profit     20
5     USA  2021  profit     25
6   India  2020  profit     18
7   India  2021  profit     22

In [ ]:
# Pivot - Long to Wide format
# Convert a long format DataFrame back into wide format.

original = df_long.pivot(
    index=["country","year"],  # column's values that become the NEW row index
    columns="metric", # column whose unique values will be the new Columns 
    values="value" # col whose values will fill the new df 
)
original

metric        profit  sales
country year
India   2020      18     90
        2021      22    110
USA     2020      20    100
        2021      25    120